.calc-screen {
  text-align: right;
  font-weight: var(--fw-700);
  font-size: 3rem;
  background-color: var(--screen-bg);
  border-radius: var(--size-200);
  padding: var(--size-300) var(--size-600);
  color: var(--screen-txt);
}

.result-preview {
  font-size: 1rem;
  color: var(--screen-txt);
  opacity: 0.7;
  margin-right: 1rem;
}
